<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
  </head>  
  <body>
    <h1>midirtc</h1>
    <p>
      Send and receive MIDI messages over WebRTC. Powered by PeerJS and Web MIDI API.
    </p>
    <div id="app">
      <p id="connection-info">
        Other peers can connect to you by going to {{url}}
      </p>
      <template v-if="error">
        {{ error }}
      </template>
      <template v-else>
        <div>
          <h2>MIDI input &rarr; WebRTC</h2>
          <port-selector :selected="currentInput" :available="availableInputs" @select="selectedInput = $event"></port-selector>
        </div>
        <div>
          <h2>WebRTC &rarr; MIDI output</h2>
          <port-selector :selected="currentOutput" :available="availableOutputs" @select="selectedOutput = $event"></port-selector>
        </div>
      </template>
    </div>
    <script type="x-template" id="port-selector">
      <div>
        <ul class="port-selector">
          <li v-for="option of options" :key="option.key" :class="{ 'is-selected': option.selected }">
            <a href="javascript:" @click="select(option)">{{ option.text }}</a>
          </li>
        </ul>
      </div>
    </script>

    <script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/script.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
